<?xml version="1.0" ?>
<config>
    <modules>
        <NPS_CustomAdminFunctions>
            <version>0.1.0</version>
        </NPS_CustomAdminFunctions>
    </modules>
    <global>        
        <events>     
            <catalog_product_save_before>      
                <observers>     
                    <NPS_CustomAdminFunctions_Product_Save>     
                        <type>singleton</type>  
                        <class>NPS_CustomAdminFunctions_Model_Observer</class>
                        <method>updateProductTypeConfig</method>  
                    </NPS_CustomAdminFunctions_Product_Save>
                </observers>  
            </catalog_product_save_before> 
        </events>  
    </global>  
    <frontend>
        <routers>
            <!-- This node's name should be the same as our alias -->
            <customadminfunctions>
                <!-- use parameter specifies which of basic routers needs to be used.
This can be "standard" for frontend or "admin" for backend -->
                <use>standard</use>
                <!-- router arguments block -->
                <args>
                    <!-- This parameter specifies the full name of out module -->
                    <module>NPS_CustomAdminFunctions</module>
                    <!-- This parameter sets module alias -->
                    <frontName>customadminfunctions</frontName>
                </args>
            </customadminfunctions>
        </routers>
        <layout>
            <updates>
                <!-- module alias -->
                <customadminfunctions>
                    <!-- File for loading -->
                    <file>customadminfunctions.xml</file>
                </customadminfunctions>
            </updates>
        </layout>
    </frontend>
</config>