<?xml version="1.0"?>
<config>
    <modules>
        <nps_pomanagement>
            <version>1.0.0</version>
        </nps_pomanagement>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <nps_pomanagement after="Mage_Adminhtml">NPS_pomanagement</nps_pomanagement>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <global>
        <helpers>
            <nps_pomanagement>
                <class>NPS_POmanagement_Helper</class>
            </nps_pomanagement>
        </helpers>
    </global>
</config>